@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
   
}

#container {
    position: absolute;
    height: auto;
    top: 15%;
    right: 10%;
    background: transparent !important;
    font-family: 'Oswald', sans-serif !important;
}

html,body {
    background: transparent !important;
}

#menu::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

#menu {
    display: flex;
    overflow-x: none;
    overflow-y: auto;
    flex-direction: column;
    max-height: 50vh;
}

.button {
    display: flex;
    flex-direction: row;
    width: 400px;
    background: radial-gradient(30% 70% at 30% 70%, rgba(57, 57, 57, 0.6) 0%, rgba(16, 16, 16, 0.7) 90%);
    border-radius: 0.3vh;
	font-family: 'Oswald', sans-serif !important;
    font-size: 1.2vh;
	font-weight: bold;
	color: #eaeaea;
    padding: 10px 1px 10px 10px;
    margin:3px;
    transition: all 0.5s;
    min-height: 80px;
    border: 2px solid transparent;
}

.button:hover {
    background: radial-gradient(30% 70% at 30% 70%, rgba(57, 57, 57, 0.6) 0%, rgba(16, 16, 16, 0.7) 90%);
    box-shadow: 0px 2px 6px rgba(253, 86, 86, 0.5);
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #fd5656 0%, #005fb1 100%);
    border-image-slice: 1;
}

.menuitem-left {
    flex: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menuitem-right {
    flex: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;

}

.menuitem-left > .title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.menuitem-left > .description {
    font-weight: 400;
    font-size: 14px;
    color: #DADADA;
    line-height: normal;
}