@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    font-family: 'Oswald';
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #212329; */
}

.feed {
    position: absolute;
    top: 90px;
    right: 60px;
    width: 400px;
    height: 400px;
    z-index: 10;
}

.feed-item {
    height: 34px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    border: 0.5px solid #d698e1;
    background: radial-gradient(30% 70% at 50% 50%, rgba(42, 42, 42, 0.4) 0, rgba(47, 47, 47, 0.7) 100%);
    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
    border-radius: 4px;
    color: white;
    font-family: 'Oswald';
    line-height: 34px;
    font-size: 18px;
    text-align: center;
    margin: 8px;
    user-select: none;
}

.player {
    display: grid;
    /* grid-template-columns: repeat(4, 25%); */
    grid-template-columns: 25% 37.5% 15% 17.5%;
    grid-auto-rows: 100%;
    column-gap: 1%;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "AXIS";
    padding-top: 1%;
    padding-bottom: 1%;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.shit {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player-list {
    display: none;
    height: 60%;
    position: absolute;
    width: 60%;
    max-height: 100%;
    background-color: #212329;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1vh;
    border-radius: 5px;
}

.player-list::-webkit-scrollbar {
    width: 0px;
}

.player-list-text {
    font-size: 1.7vh;
}

.nh {
    box-sizing: border-box;
    border-bottom: 0.3vh solid rgb(234, 70, 70);
}

.player:hover {
    background-color: rgb(234, 70, 70);
    color: white;
    /* height: 200px; */
}


/* botom right stats */

.ExtendedStats {
    width: 300px;
    height: 500px;
    position: fixed;
    bottom: -20%;
    right: -30px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    transition: left 0.4s;
}

.ExtendedInformation {
    margin: 16px 24px;
}

.ExtendedlabelValue {
    display: flex;
    flex-direction: row;
    width: 400px;
    border-bottom: 2px solid rgba(167, 167, 167, 0);
}

.NameLabel {
    background: radial-gradient(50% 50% at 50% 50%, rgba(94, 94, 94, 0.6) 0%, rgba(58, 58, 58, 0.7) 100%);
    padding: 10px;
    width: 200px;
    height: 33px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 13px;
    color: #FFFFFF;
    margin-right: 1px;
}

.DeathLabel {
    background: radial-gradient(50% 50% at 50% 50%, rgba(94, 94, 94, 0.6) 0%, rgba(58, 58, 58, 0.7) 100%);
    padding: 10px;
    height: 33px;
    width: 50px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 13px;
    color: #FFFFFF;
    margin-right: 1px;
    text-align: center;
}

.KillLabel {
    background: radial-gradient(50% 50% at 50% 50%, rgba(94, 94, 94, 0.6) 0%, rgba(58, 58, 58, 0.7) 100%);
    padding: 10px;
    height: 33px;
    width: 50px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 13px;
    color: #FFFFFF;
    margin-right: 1px;
    text-align: center;
}

.DamageLabel {
    background: radial-gradient(50% 50% at 50% 50%, rgba(94, 94, 94, 0.6) 0%, rgba(58, 58, 58, 0.7) 100%);
    padding: 10px;
    height: 33px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    width: 80px;
    text-align: center;
    line-height: 13px;
    color: #FFFFFF;
    margin-right: 1px;
}

.StatsInfo {
    width: 247px;
    height: 130px;
    position: fixed;
    bottom: -5%;
    right: -100px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* background: radial-gradient(50% 50% at 50% 50%, rgba(94, 94, 94, 0.6) 0%, rgba(58, 58, 58, 0.7) 100%); */
    /* border: 1px solid rgba(0, 0, 0, 0.15); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: left 0.4s;
    justify-content: center;
    align-items: center;
}

.information {
    margin: 16px 24px;
}

.labelValue {
    display: flex;
    flex-direction: row;
    width: 199px;
    border-bottom: 2px solid rgba(167, 167, 167, 0);
}

.label {
    background: radial-gradient(50% 50% at 50% 50%, #908aff 0%, #7c75ff 100%);
    text-align: center;
    padding: 10px 0; /* Adjust padding */
    width: 167px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #FFFFFF;
    text-shadow: 0 10px 10px black;
    border-radius: 5px;
    line-height: 13px;
}

.value {
    background: radial-gradient(50% 50% at 50% 50%, #b2aeff 0%, #7c75ff 100%);
    text-shadow: 0 10px 10px black;
    box-shadow: 0 0 10px #000000;
    padding: 10px;
    height: 33px;
    border-radius: 3px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 13px;
    color: #FFFFFF;
    margin-left: auto;
    &.time {
        position: absolute;
        left: 136px;
        text-align: right;
        width: 80px;
    }
}