@import url(https://fonts.googleapis.com/css?family=Quicksand:700&display=swap);
svg {
    width: 100%;
    height: 100%;
}

.Score-Container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 100%;
    margin-top: 0.8vh;
}

.Score-gameInformation-,
.Score-teamScore {
    height: 61%;
}

.Score {
    display: flex;
    gap: 10vh;
    height: 100%;
    width: 100%;
    grid-template-columns: none;
    justify-content: center;
    position: absolute;
}

.Score-gameInformation- {
    margin-top: 0.8vh;
}

.Score-Timer {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: Quicksand;
    font-size: 34px;
    justify-content: center;
    text-shadow: 0 0 2px #f8f9fa, 0 0px 20px rgb(0 0 0 / 57%);
    padding: 0vh 2.2vh;
    clip-path: polygon(15% 100%, 84% 103%, 100% 0%, 0% 0%);
    height: 4.9vh;
    margin-top: -0.5vh;
    width: 10vh;
    background: radial-gradient(45% 50% at 50% 50%, #d5bfbf38 0, #343434b3 93%);
}

.Score-blueScore,
.Score-redScore {
    align-items: center;
    display: flex;
    font-family: "Quicksand";
    font-size: 18px;
    justify-content: center
}

.Score-teamScore {
    box-shadow: inset 0 0 10px 5px rgb(0 0 0 / 40%);
    display: flex;
    flex-direction: row;
    gap: 1px;
    margin-top: -0.5vh;
}

.Score-aliveCount {
    font-size: 39px;
    text-shadow: 0.3px -0.3px 6px #000000c9, 0px 0px 2px #00000085;
}

.Score-aliveCount,
.Score-aliveText {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: "Quicksand";
    justify-content: center
}

.Score-aliveText {
    font-size: 11px;
    padding-bottom: 2px;
    text-shadow: 1px 1px 3px #000
}

.Score-backdrop {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: center;
    position: relative;
    width: 46px;
    z-index: 0;
    opacity: 90%;
    padding: 0vh 0.1vh 0vh 0.1vh;
}

.Score-aliveCount {
    align-items: center;
    display: flex;
    height: 49px;
    justify-content: center;
    position: relative;
    width: 45px;
    z-index: 0;
}

.Score-aliveCount.left {
    padding-right: 1.7vh;
}

.Score-aliveCount.right {
    padding-left: 1.7vh;
}

.Score-backdrop img {
    width: 4.4vh;
    height: 4.5vh;
    position: absolute;
}

@-webkit-keyframes Score-flashAnimation {
    0% {
        text-shadow: 0 0 6px rgba(79, 1, 1, .8)
    }
    50% {
        text-shadow: 0 0 3px #4f0101
    }
    to {
        text-shadow: 0 0 6px rgba(79, 1, 1, .8)
    }
}

@keyframes Score-flashAnimation {
    0% {
        text-shadow: 0 0 6px rgba(79, 1, 1, .8)
    }
    50% {
        text-shadow: 0 0 3px #4f0101
    }
    to {
        text-shadow: 0 0 6px rgba(79, 1, 1, .8)
    }
}

.Score-lowTimer {
    -webkit-animation: Score-flashAnimation 1s infinite;
    animation: Score-flashAnimation 1s infinite;
}