@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Oswald';
    height: 100vh;
    margin: 0
}

.settings-menu {
  /* background-color:#282828; */
  -webkit-filter:drop-shadow(0 0 4px #000);
  filter:drop-shadow(0 0 4px rgb(0,0,0));
  height:auto;
  left:20px;
  position:absolute;
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  -webkit-user-select:none;
  user-select:none;
  width: auto;
}

.settings-header {
  align-items: center;
  color: #908aff;
  display: flex;
  font-family: inherit;
  text-align: center;
  font-size: 40px;
  height: 90px;
  justify-content: center;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  /* box-shadow: inset 0 0 0 1px #505050, inset 0 0 20px 21px rgba(0, 0, 0, .7); */
}

.settings-header-tooltip {
  color: #908aff;
  font-family: inherit;
  text-align: center;
  font-size: 20px;
  /* text-shadow: 0 0 1.5vh rgba(255, 255, 255, 0.5); */
  width: auto;
  /* box-shadow: inset 0 0 0 1px #505050, inset 0 0 4px 4px rgba(0, 0, 0, .7); */
}

.settings-item {
  text-shadow: 0 0 1.5vh rgba(255, 255, 255, 0.5);
  box-shadow:inset 0 0 1px 1px #908aff,inset 0 0 20px 5px #000000;
  display: flex;
  grid-template-columns: auto 90% auto;
  margin-top:6px;
  background-color: #2e2e2e;
  /* color: #908aff; */
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.5s ease;
}

.settings-item-arrow-right, 
.settings-item-arrow-left {
  color: #c8c8c8;
  font-size: 25px;
  margin: 10px;
  transition: color 1.0s ease;
}

.settings-item-arrow-right.active,
.settings-item-arrow-left.active {
  color: #908aff;
  transition: color 0.05s ease;
}

.settings-category {
  position: relative;
  justify-content: center;
  align-items: center;
}

.settings-category.active {
  /* color: #908aff; */
  opacity: 1;
  width: 250PX;
}

.active-item {
  background-color: #4a4a72;
  box-shadow:inset 0 0 1px 1px #908aff,inset 0 0 20px 10px #000000d0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.settings-item-title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: inherit;
  font-weight: 700;
  text-shadow: 0 0 1.5vh rgba(255, 255, 255, 0.5);
  align-items: center;
  color: #c8c8c8;
  font-size: 15px;
}

.settings-item-label {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #908aff;
  text-shadow: 0 0 1.5vh rgba(255, 255, 255, 0.3);
  font-size: 20px;
  font-weight: 1000;
  width: 100%;
  transition: color 0.3s ease;
  text-align: center;
}

.settings-item-selected {
  box-shadow:inset 0 0 1px 1px #908aff,inset 0 0 20px 10px #000000d0;
  box-shadow: 0 0 10px #0000004d;
  align-items: center;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 130px;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 2px;
}

.settings-item-label.updated {
  color: #746dfd;
  transition: color 0.3s ease;
}