.color-0 {
    color: #ffffff;
}

.color-1 {
    color: #ff4444;
}

.color-2 {
    color: #99cc00;
}

.color-3 {
    color: #ffbb33;
}

.color-4 {
    color: #0099cc;
}

.color-5 {
    color: #33b5e5;
}

.color-6 {
    color: #aa66cc;
}

.color-8 {
    color: #cc0000;
}

.color-9 {
    color: #cc0068;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    /* text-shadow: 0px 0px 0px black; */
}

#text {
    color: #ffffff80;
    font-family: Gilroy;
    font-size: calc(.092592592vh * 12);
    font-style: normal;
    font-weight: 400;
    line-height: 108.5%
}

.no-grow {
    flex-grow: 0;
}

em {
    font-style: normal;
}

#app {
    position: absolute;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* padding: calc(.092592592vh * 25); */
    color: white;
    top: 5%;
    right: 0.7%;
}

.chat-window {
    position: absolute;
    top: 5px;
    left: 15px;
    background: transparent;
    width: 38%;
    height: 30%;
    max-width: calc(0.092592592vh * 400);
}

.chat-messages {
    position: relative;
    height: 340px;
    font-size: 16px;
    margin: 5px;
    left: 15px;
    width: 480px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.chat-input {
    font-size: 1.2rem;
    position: absolute;
    top: 360px;
    left: 15px;
    width: 21.7%;
    margin-left: 1.1%;
    box-sizing: border-box;
    padding: calc(0.462963vh) calc(0.833333vh);
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    border-radius: calc(0.277778vh) calc(0.277778vh) 0px 0px;
    background: radial-gradient(31.98% 56.85% at 50% 50%, rgba(26, 29, 41, 0.9) 0%, rgba(34, 37, 48, 0.92) 100%);
    border: 1px solid rgba(179, 179, 179, 0.2);
    box-shadow: 0 0 7px #0000003b;
}

.prefix {
    position: absolute;
    /* margin-top: -3px; */
    left: 10px;
}

textarea {
    font-size: 1.1rem;
    display: block;
    box-sizing: border-box;
    padding: 2px;
    padding-left: 27px;
    color: white;
    background-color: rgba(44, 62, 80, 0.5);
    width: 100%;
    border-width: 0;
    height: 28px;
    overflow: hidden;
}

textarea {
    display: block;
    box-sizing: content-box;
    color: #fff;
    border-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    background-color: transparent;
    color: #ffffffc7;
    font-size: calc(.092592592vh * 17);
    font-style: normal;
    font-weight: 400;
    line-height: 125.5%;
    resize: none
}

textarea::-moz-placeholder {
    color: #fafafa99
}

textarea::placeholder {
    color: #fafafa99
}

textarea:focus,
input:focus {
    outline: none
}

.msg {}

.chat-messages {
    position: relative;
    height: 340px;
    font-size: 16px;
    left: 15px;
    width: 480px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: calc(0.092592592vh * 5);
}

.chat-messages::-webkit-scrollbar {
    display: none
}

.chat-message-info {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(221, 164, 73, 0.75);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-medical {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(163, 62, 48, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-system {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(190, 97, 18, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-wal {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(18, 107, 190, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-deg {
    border-radius: 10px 10px 10px 10px;
    /* background-color: rgba(70, 18, 190, 0.85); */
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-random {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(18, 190, 133, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message {
    border-radius: 10px 10px 10px 10px;
    /* background-color: #908aff; */
    color: #fff;
    /* margin-top: -5px; */
    /* padding: 0px 8px 0px 6px; */
    display: inline-block;
    width: auto;
    float: left;
    /* margin-left: 10px; */
    border-radius: calc(.092592592vh * 2);
    background: radial-gradient(31.98% 56.85% at 50% 50%, rgba(26, 29, 41, .9) 0%, rgba(34, 37, 48, .92) 100%);
    width: -moz-fit-content;
    width: fit-content;
    max-width: calc(.092592592vh * 400);
    border-left: calc(.092592592vh * 2) solid #908aff;
    padding: calc(.092592592vh * 8) calc(.092592592vh * 8) calc(.092592592vh * 8) calc(.092592592vh * 9);
}

.chat-message b {
    color: #908aff;
    text-shadow: 0px 0px calc(.092592592vh * 11.1000003815) #908aff;
    /* font-family: Gilroy; */
    font-size: calc(.092592592vh * 15);
    font-style: normal;
    font-weight: 500;
    line-height: 108.5%;
    margin-left: -0.2vh;
}

.chat-message b1 {
    color: #ffffffd1;
    font-size: calc(.092592592vh * 15);
    font-style: normal;
    font-weight: 400;
    line-height: 108.5%
}

.chat-message b2 {
    color: #ffffff85;
    text-shadow: 0px 0px calc(.092592592vh * 11.1000003815) #ffffff85;
    font-size: calc(.092592592vh * 15);
    font-style: normal;
    font-weight: 100;
    line-height: 108.5%;
    background: rgba(18, 20, 29, 0.33);
    border-radius: calc(.092592592vh * 4);
    padding: calc(.092592592vh * 3) calc(.092592592vh * 4);
    box-shadow: 0 0 7px #0000003b;
    padding-left: 0;
    margin-left: -0.1vh;
}

.chat-message-report {
    border-radius: 10px 10px 10px 10px;
    background-color: #0091fa;
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-dispatch {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(95, 35, 190, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-anc {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(48, 121, 163, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.stategained {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(163, 81, 48, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-id {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(163, 62, 48, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-emergency {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(163, 62, 48, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-server {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(48, 79, 163, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-message-emergencythree {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(48, 121, 163, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.multiline {
    margin-left: 1.5rem;
    text-indent: -1.5rem;
    white-space: pre-line;
}

.suggestions {
    list-style-type: none;
    padding: .5% .5% .5% 0.4%;
    font-size: 1.1rem;
    box-sizing: border-box;
    color: #fffc;
    /* background-color: #49648040; */
    width: 100%;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    border-radius: 4px
}

.help {
    color: #b0bbbd;
}

.disabled {
    color: #b0bbbd;
}

.suggestion {
    margin-bottom: 5px;
    width: calc(.092592592vh * 388);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: calc(.092592592vh * 2);
    background: radial-gradient(31.98% 56.85% at 50% 50%, rgba(26, 29, 41, .62) 0%, rgba(34, 37, 48, .63) 100%);
    padding: calc(.092592592vh * 8) calc(2.092593vh * 0);
    padding-left: calc(.092592592vh * 5);
    border: 1px solid #b3b3b333;
    box-shadow: 0 0 3px #0000003b;
}

.chat-count-police {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(51, 75, 209, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-count-ems {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(199, 72, 72, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}

.chat-count-doc {
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(48, 199, 116, 0.85);
    color: #fff;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    line-height: 26px;
    width: auto;
    float: left;
    margin-left: 10px;
}