@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Oswald&family=Poppins&family=Yuji+Hentaigana+Akari&display=swap');
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overlay {
    position: relative;
  }
  
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000; /* Ensure modal is on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .password-prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #12121249;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.password-prompt input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    background-color: #555;
    border-radius: 4px;
    outline: none;
    text-align: center;
}

.password-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-input-container label {
    margin-right: 10px;
}

.password-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    background-color: #555;
    border-radius: 4px;
    outline: none;
    text-align: center;
    color: white;
    font-size: 16px;
}

.password-icon {
    display: flex;
    align-items: center;
    font-size: 2em;
    justify-content: center;
    margin-top: 10px;
}

.password-input::placeholder {
    text-align: center;
    color: white;
    opacity: 50%;
}

.password-prompt input[type="password"]::placeholder {
    text-align: center; /* Center the placeholder text */
}

.password-prompt .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Make the container full width */
}

.password-prompt button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
    outline: none;
}

.password-prompt button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 5px; /* Adjust spacing for error message */
}

.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .tab-container button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab-container button.active-tab {
    background-color: #666;
  }
  

html,
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    /* Light text for readability */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.overlay {
    background: #12121249;
    /* Dark background for contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.lobby-container {
    margin-top: 5em;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background: #222;
    /* Dark theme for the container */
    border-radius: 8px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
    /* Soft shadow for depth */
    overflow-y: auto;
}

.custom-lobby-prompt input[type="password"] {
    font-size: 1em;
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

.custom-lobby {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.custom-lobby-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #444;
    /* Darker button color for contrast */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-lobby-button:hover {
    background-color: #666;
    /* Lighter color on hover */
}

.custom-lobby-prompt {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Adjusted alignment */
    background: #222;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    max-width: 500px;
    margin: auto;
}

.custom-lobby-prompt h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}
.custom-lobby-prompt label {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
    display: block;
}

.custom-lobby-prompt input[type="text"],
.custom-lobby-prompt input[type="password"],
.custom-lobby-prompt select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 6px;
    outline: none;
}

.custom-lobby-prompt select {
    appearance: none;
    /* Remove default arrow */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M8.59 16.59L13 12.17 15.41 14.59 16.83 13.17 12 8.34 7.17 13.17z"/><path fill="none" d="M0 0h24v24H0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
}

.custom-lobby-prompt .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.custom-lobby-prompt .checkbox-container label {
    font-size: 16px;
    color: #fff;
}

.custom-lobby-prompt .button-container {
    display: flex;
    justify-content: center;
}

.custom-lobby-prompt button {
    padding: 12px 24px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    outline: none;
}

.custom-lobby-prompt button:hover {
    background-color: #004080;
}

.lobby-item.locked .lobby-player-count span {
    font-size: 1em;
}  

.lobby-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 600px;
}

.lobby-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    /* Slightly lighter for the item */
    border-radius: 1vh;
    transition: transform 0.2s;
    animation: fadeIn 1s ease-in-out;
}

.lobby-item:hover {
    opacity: 50%;
    cursor: pointer;
}

.lobby-info {
    flex-grow: 1;
    margin-right: 20px;
}

.lobby-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.lobby-settings:hover {
    transform: scale(1.05);
}

.lobby-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lobby-player-count {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.lobby-setting {
    margin-left: 10px;
    font-size: 0.9rem;
    background-color: #444;
    padding: 5px;
    border-radius: 2px;
}

.options {
    display: flex;
    justify-content: space-between;
}

.lobby-checkbox {
    display: flex;
    flex-direction: row;
    font-size: 4vh;
    font-family: inherit;
    color: white;
    background: none;
    border: none;
}

.lobby-select {
    display: flex;
    flex-direction: row;
    font-size: 2vh;
    font-family: inherit;
    color: black;
    background: none;
    border: 2px solid gray;
}

.lobby-select::after {
    content: '\25BC';
    /* Unicode down arrow character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.lobby-select:hover,
.lobby-checkbox:hover {
    opacity: 50%;
    cursor: pointer;
}

.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px; /* Adjusted spacing */
}

.toggle-switch label {
    margin-right: 10px; /* Adjusted spacing */
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 8.5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 1.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 8.5px;
}

.slider.round:before {
    border-radius: 50%;
}

.custom-lobby-prompt .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.create-lobby-button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
    outline: none;
}

.create-lobby-button:hover {
    background-color: #0056b3;
}
