* {
    --vitals-width: calc(382 / 1024 * 100vh);
    --vitals-height: 100vh;
    --primary-color: rgba(240, 240, 240, 0.9);
    --secondary-color: rgb(221, 70, 70);
    --mini-size: 0.25;
    --icon-size: 3.5vh;
    font-family: Arial;
    position: absolute;
    border-radius: 0px !important;
}


/* ::-webkit-scrollbar {
	border-radius: 4px;
} */

body {
    background-color: transparent !important;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
}

.vitals-bg {
    top: 0%;
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(27, 37, 172, 0.774);
}

.vitals {
    padding: 0px;
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    mask-size: cover;
    -webkit-mask-size: cover;
}

.vitals.bg {
    mask-image: url("Images/Background.png");
    -webkit-mask-image: url("Images/Background.png");
}

.vitals.component {
    mask-image: url("Images/Head.png");
    -webkit-mask-image: url("Images/Head.png");
    background: white;
    width: 100%;
    height: 100%;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    top: 0px !important;
}

.vitals.icon {
    position: relative;
    display: block;
    /* background: rgba(0, 0, 0, 0.5); */
    /* background-size: cover; */
    background: transparent;
    /* outline: black solid 1px; */
    float: right;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: 4px;
    opacity: 1.0;
    margin-bottom: 4px;
    object-fit: contain;
    white-space: pre-wrap;
    color: white;
}

.icon-image {
    --pading: 4px;
    mask-size: cover;
    -webkit-mask-size: cover;
    width: calc(var(--icon-size) - var(--pading) * 2);
    height: calc(var(--icon-size) - var(--pading) * 2);
    left: var(--pading);
    top: var(--pading);
}

.mini {
    opacity: 0.9;
    right: 0px;
    bottom: 0px;
    width: calc(var(--vitals-width) * var(--mini-size));
    height: calc(var(--vitals-height) * var(--mini-size));
}

.icons {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    position: absolute;
    flex-wrap: wrap-reverse;
    right: 96vw;
    bottom: 301px;
    height: calc(var(--vitals-height) * var(--mini-size) - 1.5vh);
}

.btn-close {
    font-weight: 400;
    font-size: 2vh;
    bottom: 0px;
    width: 100%;
    height: 5vh;
    opacity: 1.0;
    background-color: var(--secondary-color);
    border-top: rgba(0, 0, 0, 0.6) solid 1px;
}

.treatment {
    width: 100% !important;
    height: 3vh;
    padding: 5px;
    font-size: 1.5vh;
}

.treatment.option {
    background: transparent;
    border: none;
    text-align: left;
}

.list-group {
    width: 100%;
    height: 100%;
    overflow-y: scroll !important;
    -moz-user-select: none;
    user-select: none;
}

.selected {
    background: rgba(83, 83, 90, 0.8);
}

img {
    width: 100%;
    height: 100%;
    z-index: 2;
    clear: both;
}

.counter {
    position: absolute;
    /* background-color: red; */
    width: 100%;
    bottom: 10px;
    text-align: center;
    color: white;
    font-size: 26px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#hud {
    width: 100%;
    height: 100%;
}

#blood-overlay {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: radial-gradient(rgba(255, 35, 35, 0.22), rgba(169, 15, 15, 0.796));
}


/* Scrollbar */

.scrollbar {
    scrollbar-color: rgba(106, 106, 165, 0.836) var(--primary-color);
    scrollbar-width: thin;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    /* scroll-snap-type: y mandatory; */
}

.scrollbar::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.scrollbar::-webkit-scrollbar-track {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.scrollbar::-moz-scrollbar {
    height: 10px;
    width: 10px;
}

.scrollbar::-moz-scrollbar-thumb {
    background: var(--secondary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.scrollbar::-moz-scrollbar-track {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}